<launch>
<node pkg="turtlesim" type="turtlesim_node" name="turtlesim"/>
<node pkg="com760cw1_b01001406" type="startup.py" name="startup" output="screen"/>

<node pkg="com760cw1_b01001406" type="leader_instruction_pub.py" name="leader_pub" output="screen"/>

  <!-- Run follower listener twice (anonymous=true avoids name clash) -->
  <node pkg="com760cw1_b01001406" type="follower_instruction_sub.py" name="followerA_sub" output="screen"/>
  <node pkg="com760cw1_b01001406" type="follower_instruction_sub.py" name="followerB_sub" output="screen"/>
  
<node pkg="turtlesim" type="turtle_teleop_key" name="teleop_key" launch-prefix="gnome-terminal --"/>
</launch>
